
@font-face {
    font-family: 'eliantoregular';
    src: url('./fonts/elianto/elianto-regular-webfont.woff2') format('woff2'),
         url('./fonts/elianto/elianto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotolight';
    src: url('./fonts/roboto/roboto-light-webfont.woff2') format('woff2'),
         url('./fonts/roboto/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('./fonts/roboto/roboto-regular-webfont.woff2') format('woff2'),
         url('./fonts/roboto/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body{
    background-image: url("./images/ORDRZ_Splash.jpg");
    background-repeat: no-repeat;
   
    background-position: top; 
    background-size: cover;

    color: white;
}

a:link {
    color: white;
}

/* visited link */
a:visited {
    color: cyan;
}

/* mouse over link */
a:hover {
    color: #ffbd44;
}

/* selected link */
a:active {
    color: white;
}



.NavBar{
    border: 0px solid red;
    height: 55px;
    width:100%;
    margin:0 auto 15px auto;
   

}
.NavBar, Span{
    font-family: 'robotolight', 'arial';
    text-transform: uppercase;
    font-size: 15pt;
    float: left;
    margin-left: 25px;

}

#NavMenu{
    border: 0px solid blue;
    height: 60px;
    margin-left:auto;
    margin-right: auto;
}

#NavMenu, p{
    
    margin:  10px 0 0 50px;
    padding: 0px;
    display: block;
    float: left;

}

#LogoText{
    font-family: 'eliantoregular', 'arial';
    font-size: 35pt;
    
}



#imageWrapper{

    width:1000px;
    height: 1025px;
    

    margin-left: auto;
    margin-right: auto;
    
}

#facilityImage{

    
    
    position: absolute;
    display: block;

    margin: 0px;
    padding: 0px;
}

#facilityImage img{
   
    width:1000px;
    
}

/*ALSO USING INLINE STYLE ADJUSTMENTS */
#topImage{
    
    /* background-color: rgba(255, 153, 0, .65); */
    
    width:100px;
    height:100px;
    
    
    background-image: url("./images/map_marker.png");
    
    z-index: 3;
    position: relative;

        margin: 0px;
        padding: 0px;


}

#topImage img{

    width:50px;

}


/* ----==== ORDER SEARCH PAGE ====----  */
